
.login {
    color:black;
}

.login-form{
    display:flex;
    flex-direction: column;
    width:400px;
    margin-left:20px;
    justify-content: center;
    align-items:center;

}

.input-field{
    border-left:3px solid ;
    border-top:none;
    border-right:none;
    margin:30px;
    outline:none;
    border-bottom:3px solid black;
    
    
}
